/* Global Styles */
:root {
    --hf: rgb(52, 121, 40);
    --bg: rgb(255, 251, 230);   
    --body: rgb(192, 235, 166);
    --body2: rgba(192, 235, 166, 0.479); 
    --border: #fccd2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1600px;
    width: 100%;
    justify-self: center;
}

html, body {
    width: 100vw;
    min-width: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg);
    /* margin-top: 100px !important; */
}



/* Navigation */
#nav {
    background-color: var(--hf);
    z-index: 1000;
    width: 100vw;
    min-width: auto;
}

#favicon {
    height: 80px;
    width: 80px;
}

#navbarNav.navbar-nav li {
    justify-content: space-between;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav > li > a {
    font-size: 1rem;
}

.navbar-nav > li > a:hover {
    text-decoration-color: #fccd2a !important;
    text-decoration: underline;
}

.navbar-nav > li > a:active {
    color: #fccd2a !important;
}




/* Footer */
footer#footer {
    display: grid;
    margin-top: 12rem; 
    padding-top: 1rem;
    background-color: var(--hf);
    min-width: auto;
    grid-template-columns: 1fr .5fr 1fr 1.5fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    "#footer-logo"
    "#quick-links"
    "#contact-info"
    "#newsletter-signup"
    "#legal-social";
    justify-content: space-evenly;
    gap: 1rem;

}

#footer-logo > img {
    max-height: 250px;
    min-height: 100px; 
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-area: "#footer-logo";
    align-content: baseline;
    justify-content: center;
}

#quick-links {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-area: "#quick-links";
    justify-content: center;
    align-content: baseline;
    text-align: center;
    padding-top: 2rem;
}

#contact-info {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    grid-area: "#contact-info";
    justify-content: center;
    align-content: baseline;
    text-align: center;
    padding-top: 2rem;
}

#newsletter-signup {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    grid-area: "#newsletter-signup";
    justify-content: center;
    align-content: baseline;
    text-align: center;
    padding: 2rem;
}

.border-top#legal-social {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    grid-area: "#legal-social";
    flex-direction: row;
    height: 1.2rem;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 0.5rem;
}

#legal-social p {
    font-weight: medium; 
    align-content: center;
}
